* { box-sizing: border-box; }
body{
  background: #d5d2e6;
}
.cajaexterior{
  position: relative;
  margin: auto;
  display: block;
  margin-top: 5%;
  width: 700px;
  height: 800px;
  background: none;
}
.cabesa1{
  position: absolute;
  top:16.5%;
  left: 25%;
  width: 50%;
  height: 67%;
  background: #ab690c;
  border-radius: 50%;
}
.copiacabesa{
  width: 100%;
  height: 100%;
  position: absolute;
  background: #ab690c;
  border-radius: 42%;
  z-index: 2;
}
.orejaizquierda{
  position: absolute;
  width: 25%;
  height: 30%;
  left: -15%;
  top: 5%;
  background: #f5b7d2;
  border-radius: 50%;
  z-index: 1;
}
.orejaderecha{
  position: absolute;
  width: 25%;
  height: 30%;
  right: -15%;
  top: 5%;
  background: #f5b7d2;
  border-radius: 50%;
  z-index: 1;
}
.dentrooreja{
  position: absolute;
  width: 50%;
  height: 55%;
  right: 25%;
  top: 25%;
  background: #ef8ab6;
  border-radius: 50%;
}
.ojo{
  position: absolute;
  background: white;
  width: 13%;
  height: 11%;
  top: 18%;
  left: 43%;
  border-radius: 50%;
  z-index: 3;
}
.ojo1{
  position: absolute;
  background: white;
  width: 18%;
  height: 16%;
  top: 28%;
  left: 26%;
  border-radius: 50%;
  z-index: 3;
}
.ojo2{
  position: absolute;
  background: white;
  width: 18%;
  height: 16%;
  top: 28%;
  right: 28%;
  border-radius: 50%;
  z-index: 3;
}
.pupila1{
  position: absolute;
  width: 33%;
  height: 35%;
  top: 40%;
  left: 36%;
  border-radius: 50%;
  background: #e00000;
}
.pupila{
  position: absolute;
  width: 33%;
  height: 35%;
  top: 40%;
  left: 36%;
  border-radius: 50%;
  background: #e00000;
}
.nariz{
  position: absolute;
  background: #BE845F;
  top: 45%;
  left: 32%;
  width: 35%;
 height: 15%;
 background:  pink;
  border-radius: 50%;
  z-index: 7;
  }

.bigote {
position: absolute;
width: 100px;
height: 50px;
top: 60%;
left: 35%;
border: 2px solid #555;
background: #000000 ;
-moz-border-radius: 100px 100px 0 0;
-webkit-border-radius: 100px 100px 0 0;
border-radius: 100px 100px 0 0;
z-index: 7;
}
.brazoizquierda {
  position: absolute;
  top: 48%;
  left: -60%;
  width: 60%;
  height: 10%;
  background: #B47618;
  z-index: 5;
}
.mangaizquierda {
  position: absolute;
  top: 48%;
  left: -50%;
  width: 50%;
  height: 10%;
  background: #f76900;
  z-index: 5;
}
.brazoderecha {
  position: absolute;
  top: 48%;
  left: 100%;
  width: 60%;
  height: 10%;
  background: #B47618;
  z-index: 5;
}
.mangaderecha {
  position: absolute;
  top: 48%;
  left: 100%;
  width: 50%;
  height: 10%;
  background: #f76900;
  z-index: 5;
}
.boquita {
  position: absolute;
  top: 62%;
  left: 20%;
  width: 60%;
  height: 30%;
  background: #b90909;
  -webkit-clip-path: ellipse(50% 20% at 50% 50%);
clip-path: ellipse(50% 20% at 50% 50%);
  z-index: 4;
  }

.diente-arriba {
  position: absolute;
  top: 5%;
  left: 20%;
  width: 10%;
  height: 40%;
  background: #ffffff;
  }
.diente-arriba2 {
  position: absolute;
  top: 5%;
  left: 35%;
  width: 10%;
  height: 40%;
  background: #ffffff;
  }

.diente-arriba3 {
  position: absolute;
  top: 5%;
  left: 50%;
  width: 10%;
  height: 40%;
  background: #ffb600;
  }

.diente-arriba4 {
  position: absolute;
  top: 5%;
  left: 64%;
  width: 10%;
  height: 40%;
  background: #ffffff;
  }

.diente-abajo1 {
  position: absolute;
  top: 60%;
  left: 20%;
  width: 10%;
  height: 40%;
  background: #ffb600;
  }
.diente-abajo2 {
  position: absolute;
  top: 60%;
  left: 35%;
  width: 10%;
  height: 40%;
  background: #ffffff;
  }
.diente-abajo3 {
  position: absolute;
  top: 60%;
  left: 50%;
  width: 10%;
  height: 40%;
  background: #ffffff;
}

.diente-abajo4 {
  position: absolute;
  top: 60%;
  left: 64%;
  width: 10%;
  height: 40%;
  background: #ffffff;
}
.sombrero1 {
  position: absolute;
  top: -19%;
  left: 50%;
     width: 20%;
     height: 20%;
     background: #000000;
     -moz-border-radius: 0 100% 0 0;
     -webkit-border-radius: 0 100% 0 0;
     border-radius: 0 100% 0 0;
     z-index: 6;
}
.sombrero3 {
  position: absolute;
  top: -19%;
  left: 31%;
     width: 20%;
     height: 20%;
     background: #000000;
     -moz-border-radius: 0 100% 0 0;
     -webkit-border-radius: 0 100% 0 0;
     border-radius: 0 100% 0 0;
     z-index: 6;
     transform: scaleX(-1);
}

.sombrero2 {
  position: absolute;
  top: -0%;
  left: 20%;
  width: 60%;
  height: 10%;
  background: #000000;
  z-index: 6;
}
.humoporrito {
  position: absolute;
  top: 0%;
  left: 80%;
  width: 20%;
  height: 100%;
  background: #58534b;
  z-index: 6;
}
.porrito {
  position: absolute;
  top: 72%;
  left: 60%;
  width: 60%;
  height: 10%;
  background: #2a190b;
  z-index: 6;
}

.pie1 {
  position: absolute;
     top: 95%;
     left:62%;
     width: 60%;
     height: 20%;
     border: 3px solid #555;
     background: #05092f;
}
.pie2 {
  position: absolute;
     top: 95%;
     left:-22%;
     width: 60%;
     height: 20%;
     border: 3px solid #555;
     background: #05092f;
}
